---
import { getEntryBySlug, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import background from "../../assets/background.svg";
import Footer from "../../components/Footer.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

const post = await getEntryBySlug("blog", slug);

if (!post) {
  throw new Error(`Blog post not found for slug: ${slug}`);
}

const { Content } = await post.render();
const { data } = post;
---

<Layout title={data.title} description={data.description}>
  <div class="welcome-container" id="container">
    <main>
      <img id="background" src={background.src} alt="" fetchpriority="high" />
      <Hero
        hero_title="Blog"
        tagline=""
        social={{
          linkedin: "https://linkedin.com/in/lukeshort",
          github: "https://github.com/lukeshort",
          email: "lukeshort321@gmail.com",
        }}
      />
      <section class="blog-container">
        <article class="blog-post">
          <h2>{data.title}</h2>
          <a href="/blog" class="blog-return-link">← All Posts</a>
          <p class="blog-date">
            <small>{data.pubDate.toDateString()}, Luke Short</small>
          </p>
          <Content />
        </article>
      </section>
      <Footer />
    </main>
  </div>
</Layout>
