---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import background from "../../assets/background.svg";
import Hero from "../../components/Hero.astro";
import Footer from "../../components/Footer.astro";
const posts = await getCollection("blog");
---

<Layout
  title="Luke Short | Blog"
  description="Follow along as I share updates, behind-the-scenes progress, and lessons learned from my personal and professional coding projects."
>
  <div class="welcome-container" id="container">
    <main>
      <img id="background" src={background.src} alt="" fetchpriority="high" />
      <Hero hero_title="Blog" tagline="" />
      <section class="blog-container">
        <ul class="blog-list">
          {
            posts.map(({ id, slug, data }) => (
              <li class="blog-item">
                <a href={`/blog/${slug}`}>
                  <h2>{data.title}</h2>
                  <p>{data.description}</p>
                  <small>{data.pubDate.toDateString()}</small>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <Footer />
    </main>
  </div>
</Layout>
